@import '../../../scss/all';

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  background-color: $color-tertiary;
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 1em;
  position:relative;
  color: $color-quaternary;
}

.logout {
  color: $color-primary;
  background: $color-secondary;
  border: 1px solid $color-primary;
  padding: .25em;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 0em;
  flex: 0 0 10em;
}
